
.difcolor{
  width: 150px;
  height: 90px;
  display: inline-block;
  transition: background ease-in 2s;
}

.inputColor{
    position:absolute;
    text-align: center;
    top:2%;
    left:33%;
    height: 250px;
    width: 450px;
    border-radius: 25%;
    box-shadow: 0 0 10px 2px #888888;
    font-size: 25px;
}
.colors::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
#r::-webkit-slider-thumb {
  background: red;
}
#b::-webkit-slider-thumb {
  background: blue;
}
#g::-webkit-slider-thumb {
  background: green;
}
.colors {
  -webkit-appearance: none;
  display: inline-block;
  /* position: absolute; */
  height: 15px;
  width: 300px;
  top:50%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
}
.colors:hover {
  opacity: 1;
}
.myDiv{
  position: absolute;
  max-width:1200px;
  top:50%;
  left: 8%;
  transition: width 2s;
}
.inputs{
  width: 1000px;
  position :absolute;
  justify-content: center;
  align-items: center;
  top:40%;
  left:15%;
}